{% extends 'users/layout.html' %}
{% block body %}
<h3>Welcome, {{ request.user.first_name }}</h3>
<ul>
    <li>Username: {{ request.user.username }}</li>    
</ul>

<h4>Register to class</h4>

<form action="{% url 'enroll' %}" method="POST">
    {% csrf_token %}
    <select name="Student">
        {% for Subject in courses %}
            <option value="{{ Subject }}">{{ Subject }}</option>
        {% endfor %}
    </select>
    <input type="submit" value="Add Me to this class">
</form>

{% endblock %}