{% extends 'users/layout.html' %}
{% block content %}

{% load static %}
<link rel="stylesheet" href="{% static 'index/add.css' %}" type = "text/css">

<div class = "user">
<h3>Welcome, {{ request.user.first_name }}</h3>
<ul>
    <li>Username: {{ request.user.username }}</li>    
</ul>

<form action="{% url 'search' request.user.id%}" method="POST">
    {% csrf_token %}
    <input type="text" name="search" class="form_input" value="{{ search }}"/><br>
    <input type="submit" value="Search" class = "form_input"></input>
</form>

<h4>Register to class</h4>

<form action="{% url 'enrollment' request.user.id %}" method="POST">
    {% csrf_token %}
    <form class = "form">
    <select name="Subject">
        {% for Subject in unenroll %}
        {% if Subject.capacity > 0 %}
            <option value="{{ Subject.id }}">{{ Subject }}</option>
        {% endif %}
        {% endfor %}        
    </select>
    <div class = "button">
    <input type="submit" value="Add me to this class" class = "form_input"></input>
    </div>
</form>

<h4>Remove from class</h4>

<form action="{% url 'remove_enroll' request.user.id %}" method="POST">
    {% csrf_token %}
    <form class = "form">
    <select name="Subject" >
        {% for Subject in enroll %}
            <option value="{{ Subject.id }}">{{ Subject }}</option>
        {% endfor %}        
    </select>
    <div class = "button">
    <input type="submit" value="Withdraw me from this class" class = "form_input"></input>
    </div>
</form>

</div>

{% endblock %}