{% extends 'users/layout.html' %}
{% block content %}

{% load static %}
<link rel="stylesheet" href="{% static 'index/style.css' %}" type = "text/css">

<h1>Welcome, {{ request.user.first_name }}</h1>
<ul>
    <div class  = "username">
    <li>Username: {{ request.user.username }}</li>    
</ul></div>

<h3> Class : <h3>
<table border="2" cellpadding="5" style="margin: 0 auto;">
    <td>Course Code</td>
    <td>Course Name</td>
    <td>Year</td>
    <td>Semester</td>

    {% for Subject in courses %}
    <tr>
        <td>{{Subject.Subject}}</td>
        <td>{{Subject.Subject_name}}</td>
        <td>{{Subject.Year}}</td>
        <td>{{Subject.Semester}}</td>
    </tr>    
    {% endfor %}

</table>

{% endblock %}
