{% load static %}
<link rel="stylesheet" href="{% static 'index/sidebar.css' %}" type = "text/css">

<div class = "sidebar">
    <input type="checkbox" id="toggler" />
    <aside class="aside-wrapper" style = "top : 0px; ">
      <h1 class="logo-text"><span>CN331 Registration</span> <label for="toggler"><i class="sidebar-toggle" ></i></label></h1>
    
      <ul>
        <li><a href="{% url 'index' %}">Home page</a></li>
        <li><a href="{% url 'enroll' request.user.id %}">Registration</a></li>
        <li><a href="{% url 'logout' %}">Log out</a></li>
        {% if request.user.is_staff %}
        <li><a href="admin/">Admin</a></li>
            {% endif %}
      </ul>
    
    </aside>
    </div>

{% block content %}
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Users</title>
</head>
<body>

</body>
{% endblock %}
</html>